{%- if is_index_article -%}
{%- assign full_title = title -%}
{%- else -%}
{%- assign full_title = title | append: " - Codex Wiki" -%}
{%- endif -%}
<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>{{ full_title }}</title>
{% if publishTargetIsWebsite %}<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y215GF8JS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y215GF8JS2');
</script>
{% endif %}
{% if is_index_article %}{% if json.publishRootUrl %}<script type="application/ld+json">{"name":"Codex Wiki","url":"{{ json.publishRootUrl }}"}</script>
{% endif %}{% endif %}{% if publishTargetIsWebsite %}<meta property="og:title" content="{{ full_title }}">
<meta property="og:type" content="website">
{% if image %}<meta property="og:image" content="{{ image }}">
{% elsif json.publishRootUrl %}<meta property="og:image" content="{{ json.publishRootUrl }}/-/raw/openai-logo.png">
{% endif %}{% if json.publishRootUrl %}<meta property="og:url" content="{{ json.publishRootUrl }}{{ server_path }}">
{% endif %}{% endif %}<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/all.min.css" integrity="sha512-9my9Mb2+0YO+I4PUCSwUYO7sEK21Y0STBAiFEYoWtd2VzLEZZ4QARDrZ30hdM1GlioHJ8o8cWQiy8IAb1hy/Hg==" crossorigin="anonymous" referrerpolicy="no-referrer">
<style>{{ style }}</style>
<link rel="stylesheet" type="text/css" href="{{ raw_relpath }}/main.css">
<link rel="icon" href="{{ raw_relpath }}/openai-logo.png" type="image/png">
{{ head }}</head>
<body>
<header>
<div class="brand-group">
<a href="{{ root_page }}" class="brand"><img class="openai-logo" src="{{ raw_relpath }}/openai-logo.png" alt="OpenAI logo">Codex Wiki</a>
<a href="https://ourbigbook.com" class="brand"><img src="{{ raw_relpath }}/ourbigbook-logo.png" alt="OurBigBook logo"><span class="mobile-hide">OurBigBook.com</span><span class="mobile-show">Site</span></a>
<a href="https://github.com/cirosantilli/codex-wiki"><i class="fab fa-github fa-fw icon"></i> Source code</a>
</div>
</header>
<main class="ourbigbook">
{{ body }}</main>
<footer>
<div>{{ theme_toggle }}</div>
<div>Powered by <a href="https://docs.ourbigbook.com">OurBigBook</a></div>
<div>License: <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a> unless noted</div>
<div><a href="{{ dir_relpath }}{{ html_index }}">Website source code</a></div>
<div><a href="https://github.com/cirosantilli/codex-wiki">Website source code on GitHub</a></div>
{% if input_path != "" %}<div>Source code for this page: <a href="{{ file_relpath }}/{{ input_path }}{{ out_ext }}">{{ input_path }}</a></div>
{% endif %}
</footer>
{{ post_body }}</body>
</html>
